# MkDocs and plugins for documentation
# Align mkdocs version with mkdocs-material 9.5.x compatibility (~=1.5)
mkdocs~=1.5
mkdocs-material==9.5.18
mkdocs-minify-plugin==0.8.0
mkdocs-mermaid2-plugin==1.1.1
mkdocs-git-revision-date-localized-plugin==1.2.4
pymdown-extensions==10.7.1
Pygments==2.17.2